<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FitnessForGeeks</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css">
    <link href="/css/loginPage.css" rel="stylesheet">

</head>

<body>
    {{> navbar recipe = true}}
    <div id="container">
        <div id="alerts">
        </div>
        <div id="content" class="card">
            <div class="navigation">
                <button onclick="switchForm(0)" class="active">Sign In</button>
                <button onclick="switchForm(1)">Sign Up</button>
            </div>
            <div class="form">
                <main>
                    {{> inputField label="Username" input_type="text" input_name="username" }} {{> inputField label="Password" input_type="password"
                    input_name="password" }}
                </main>
                <button class="btn btn-raised" onclick="signInButtonPressed()"> Sign in </button>
            </div>
            <div class="form hidden">
                <main>
                    {{> inputField label="Username" input_type="text" input_name="username" }} {{> inputField label="Password" input_type="password"
                    input_name="password" }} {{> inputField label="Confirm Password" input_type="password" input_name="confirm_password"
                    }} {{> inputField label="E-mail" input_type="email" input_name="email" }}
                </main>
                <button class="btn btn-raised" onclick="signUpButtonPressed()"> Sign up </button>
            </div>
        </div>
    </div>
    <script src="/js/accountApi.js"></script>
    <script src="/js/alert.js"></script>
    <script src="/js/loginPage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>